.container {
  max-width: 800px;
  margin: 2.5rem auto;
  padding: 5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #FFF2EB;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: 2px solid #850E35;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.95rem;
}

.button {
  background-color: #850E35;
  width: 200px;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}


.success {
  margin-top: 1rem;
  color: green;
  font-weight: 500;
  text-align: center;
}

.error {
  margin-top: 1rem;
  color: red;
  font-weight: 500;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.changeButton {
  background-color: #850E35;
  color: #fff;
}

.changeButton:hover {
  background-color: #FFD586;
  color: #333446;
  font-weight: bold;
}

.cancelButton {
  background-color: #FFD586;
  color: #333446;
  font-weight: bold;
}

.cancelButton:hover {
  background-color: #6B6C7A;
  color: #fff;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #FF6B35; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modalButton{
  /* margin-top: 35px; */
  width: 8ch;
  background-color: #333446;
  color: #fff;
  margin-top: 5px;
}

.modalButton:hover {
  background-color: #FFD586;
  color: #333446;
}

.closeBtn{
  background-color: #850E35;
  color: #fff;
  padding: 0.55rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem auto 0;
}