.container {
  max-width: 800px;
  margin: 2.5rem auto;
  padding: 5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #FFF2EB;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: 2px solid #850E35;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.backLink {
  display: inline-block;
  margin-bottom: 1rem;
  color: #850E35;
  text-decoration: none;
  font-weight: 500;
}

.backLink:hover {
  text-decoration: underline;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-top: 0;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.quillEditor {
  margin-bottom: 2rem;
}

.tagsContainer {
  margin-top: 1.5rem;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 10px;
  align-items: center;   
}

.tagLabel {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #533B4D;
  line-height: 1;
  padding-top: 2px;
}

.tag {
  background-color: #FFE2D1;
  width: fit-content;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
}

.removeBtn {
  background: none;
  border: none;
  color: #850E35;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  line-height: 1;    
}

.tagInputRow {
  display: flex;
  gap: 1.5rem;
}

.tagInput {
  flex-grow: 1;
  padding: 0.6rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding-left: 1rem;
}

.addTagBtn {
  background-color: #FFD6BA;
  font-weight: bold;
  color: #333446;
  width: 100px;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #850E35;
}

.addTagBtn:hover {
  background-color: #FFD586;
  color: #333446;
}

.updateBtn {
  background-color: #850E35;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 2rem auto 0;
}

.updateBtn:hover {
  background-color: #FFD586;
  color: #333446;
  font-weight: bold;
}

.quillEditor :global(.ql-editor) {
  min-height: 100px;
}
