body{
  margin: 0;
  background-color: #FFD6BA;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(at 15% 25%, #FFE5EC 0px, transparent 50%),
    radial-gradient(at 85% 20%, #FFF1B8 0px, transparent 45%),
    radial-gradient(at 50% 85%, #FFC2D1 0px, transparent 50%),
    #FDE2E4;
  
  /* background:
  radial-gradient(circle at center, #FFF1B8 0%, #FDE2E4 55%, #F9C5D1 100%); */

  /* background:
  radial-gradient(40% 50% at 20% 20%, #FFE5EC 0%, transparent 60%),
  radial-gradient(45% 40% at 80% 30%, #FFF1B8 0%, transparent 60%),
  radial-gradient(50% 45% at 50% 85%, #FFC2D1 0%, transparent 60%),
  #FDE2E4; */

}

.box {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #FFF6F8;
  border-radius: 30px;
  box-shadow: 0 4px 10px linear-gradient(to right,#ffe3e1,#ffc7c7);

  font-family: "Ancizar Sans", sans-serif;
  font-weight: 700;
  font-size: 37px;
  text-align: center;
  padding: 80px 40px;
  border: 2.5px solid #333446;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #555;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: -20px;
  margin-bottom: 20px;
}

.button {
  margin-top: 15px;
  width: 20%;
  background-color: #FFD586;
  color: #333446;
  padding: 0.65rem 0;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  border: 2px solid black;
}



.loginButton {
  background-color: #333446;
  color: #fff;
}

.loginButton:hover {
  background-color: #FFD586;
  color: #333446;
}

.registerButton {
  background-color: #fff;
  color: #333446;
}

.registerButton:hover {
  background-color: #FFD586;
}
