.container {
  max-width: 800px;
  margin: 2.5rem auto;
  padding: 5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #FFF2EB;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: 2px solid #850E35;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.info {
  font-size: 1rem;
  line-height: 1.75;
}

.loading {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
  font-size: 1.1rem;
}
