.container {
  max-width: 90%;
  margin: 2.5rem auto;
  padding: 5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background-color: #FFF2EB;
  border-radius: 0.75rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border: 2px solid #850E35;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  text-align: center;
}

.empty {
  color: #666;
  text-align: center;
  font-size: 1.1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.25rem;
  /* column-gap: 5rem; */
}

.noteCard {
  background-color: #FFF2EB;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease;
  border: 1px solid #3B3B1A;
}

.noteCard:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.content {
  margin-top: 0.75rem;
  color: #444;
  line-height: 1.5;
  font-size: 0.95rem;
}

.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updated {
  font-size: 0.8rem;
  color: #777;
}

.restoreButton {
  background-color: #FFD586;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.restoreButton:hover {
  background-color: #FFAAAA;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #FF6B35; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modalButton{
  /* margin-top: 35px; */
  width: 8ch;
  background-color: #333446;
  color: #fff;
  margin-top: 5px;
}

.modalButton:hover {
  background-color: #FFD586;
  color: #333446;
}

.closeBtn {
  background-color: #850E35;
  color: #fff;
  padding: 0.55rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem auto 0;
}

.closeBtn:hover {
  background-color: #FFD586;
  color: #333446;
  font-weight: bold;
}