.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: #850E35;
  opacity: 90%;
  border-bottom: 1px solid #ddd;
  height: 60px;
  color: white;
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-bottom: 2px solid #850E35;
}

.left {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 0.5rem;
  -webkit-text-stroke: 1px #533B4D;
  text-shadow:
     -1px -1px 0 #333446,
      1px -1px 0 #333446,
     -1px  1px 0 #333446,
      1px  1px 0 #333446;
}

.right {
  display: flex;
  align-items: center;
}
